body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

html, body {
	height: 100%;
	/*text-align: center;*/
	overflow:hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height:100%;
	padding:0 0 0 0;
}

span {
	display: inline;
}

#Widget{
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #F2EFE9;
	overflow-x: hidden;
}

div.menu {
	white-space: nowrap;

	position: absolute;
	left: -8px;
	top: 82px;
	text-align: left;
	/*border: 1px solid black;*/
	/*width: 50px;*/
	/*height: 0px;*/
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
}

div.menu ul {
	margin-left: 0px;
	padding-left: 0px;
}

div.menu li {
	cursor: pointer;
	overflow: hidden;
	opacity: 0.2;
	border: 2px solid black;
	width: 46px;
	height: 32px;
	padding-left: 0px;
	margin-top: 4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	/*-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;*/
	background: url(/svg/menu-default.svg) no-repeat;
	background-position: 10px 0px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 4px #808080;
	-moz-box-shadow: 2px 2px 4px #808080;
	-webkit-box-shadow: 2px 2px 4px #808080;
}

div.menu li#menu-main {
	background: url(/svg/menu-main.svg) 10px 0px no-repeat;
	background-color: #FFFFFF;
}

div.menu li#menu-map {
	background: url(/svg/menu-map.svg) 10px 0px no-repeat;
	background-color: #FFFFFF;
}

div.menu li#menu-config {
	background: url(/svg/menu-config.svg) 10px 0px  no-repeat;
	background-color: #FFFFFF;
}

div.menu li#menu-logs {
	background: url(/svg/menu-log.svg) 10px 0px no-repeat;
	background-color: #FFFFFF;
}

div.menu li#menu-geos {
	background: url(/svg/menu-geos.svg) no-repeat;
	background-position: 10px 0px;
	background-color: #FFFFFF;
}


div.menu a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	display: inline;
}


div.menu a div {
	display: inline;
	vertical-align: center;
	width: 100%;
	padding-left: 48px;
	padding-top: 4px;
	padding-bottom: 4px;
	top: 50%;
}


div.menu li:hover {
	width: auto;
	min-width: 200px;
	opacity:1.0;
/*	-webkit-transform: scale(1.5) rotate(12deg) translate(32px,20px); */
/*	-webkit-transform: scale(1.5) translate(32px,0px);
	-moz-transform: scale(1.5) translate(32px,0px);*/
}

table {
	width: 98%;
	margin-left: 1%;
	background: #FFF0FF;
	/*margin-left: 50px;
	margin-right: 150px;*/
	/*right: 150px;*/
	/*width: 100%;*/
	/*-webkit-box-shadow:5px 5px 15px #C0C0C0;
	-moz-box-shadow:5px 5px 15px #C0C0C0;*/
}

table, td, th {
	border: 2px solid black;
	border-collapse: collapse;
}

th {
    background: #CFF0FF;
}

tr:nth-child(even) {
    background: #F0E8F8;
    /*border: 2px solid black;
    border-collapse: collapse;*/
}
