<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>Обновление внутреннего программного обеспечения систем</title>

  <style type="text/css">

input.digits {
	text-align: right;
}

input.compl {
	//color: green;
	text-align: right;
	font-weight: bold;
	background: lime;
}

form table tr th{
	font-size: 0.9em;
}

</style>

<script type="text/javascript">
</script>

</head>
<body>

    <h1>Обновление firmware</h1>
	<h2>Доступные обновления</h2>
	<table>
		<tr>
			<th>Имя образа</th>
			<th>Версия HW</th>
			<th>Версия SW</th>
			<th>Субверсия HW</th>
			<th>Дата добавления</th>
			<th>Размер</th>
			<th>Описание</th>
			<th title="Загрузить бинарный образ">Бин</th>
			<th title="Загрузить текстовый образ">Текст</th>
			{% if admin %}
				<th title="Удалить">X</th>
			{% endif %}
		</tr>
	{% for fw in firmwares %}
		<tr>
			<td>{{ fw.key }}</td>
			<td>
				{{ fw.hwid }}
				<a class="smallButton" href="firmware?cmd=getbin&hwid={{ fw.hwid }}" title="Загрузить самый свежий бинарный образ для этого HW">B</a>
				<a class="smallButton" href="firmware?cmd=get&hwid={{ fw.hwid }}" title="Загрузить самый свежий текстовый образ для этого HW">T</a>
				<a class="smallButton" href="firmware?cmd=getpack&hwid={{ fw.hwid }}" title="Загрузить самый свежий упакованый текстовый образ для этого HW">P</a>
				<a class="smallButton" href="firmware?cmd=get&hwid={{ fw.hwid }}&subid={{ fw.subid }}" title="Загрузить самый свежий текстовый образ для этого HW/subid">t</a>
				<a class="smallButton" href="firmware?cmd=check&hwid={{ fw.hwid }}" title="Запросить версию самого свежего образа для этого HW">?</a>
				<a class="smallButton" href="firmware?hwid={{ fw.hwid }}" title="Показывать только образы для этого HW">F</a>
				<a class="smallButton" href="firmware?cmd=get&boot=yes&hwid={{ fw.hwid }}" title="Загрузить загрузчик для этого образа">BL</a>
			</td>
			<td>{{ fw.swid }}</td>
			<td>{{ fw.subid }}</td>
			<td>{{ fw.cdate|date:"d/m/y G:i" }}</td>
			<td>{{ fw.size }}</td>
			<td>{{ fw.desc }}</td>
			<td><a class="smallButton" href="firmware?cmd=getbin&id={{ fw.key }}" title="Загрузить бинарный образ">B</a></td>
			<td><a class="smallButton" href="firmware?cmd=get&id={{ fw.key }}" title="Загрузить текстовый образ">T</a></td>
			<td><a class="smallButton" href="firmware?cmd=getpack&id={{ fw.key }}" title="Загрузить упакованый текстовый образ">P</a></td>
			{% if admin %}
				<td><a class="smallButton" href="firmware?cmd=del&id={{ fw.key }}" title="Удалить">X</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	<form>
	</form>
	<a class="smallButton" href="firmware?cmd=patch" title="Исправит базу данных прошивок">Patch</a>
</body>
