<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>GPS наблюдение</title>
  <meta name="description" content="GPS logging">
  <meta name="author" content="Batrak Denis">
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/stylesheets/style.css?v=1">
  <!--script src="/js/jquery.min.js"></script-->
  <script src="/js/jquery.min-1.7.js"></script>
  <script src='/_ah/channel/jsapi'></script>
  <script src="/js/base.js?v=2"></script>

  <script>
	$(document).ready(function() {
		var uuid = new Date().getTime();
		console.log('UUID=', uuid);
		$.getJSON('/api/channel/gettoken?uuid={{ user.user_id() }}_' + uuid, function (data) {
			if(data.token){
				var token = data.token;
				log("Token goted:" + token, 'uuid={{ user.user_id() }}');
				var onOpened = function() {
					log('goog.appengine.Channel: onOpened ('+token+')');
					//connected = true;
				}

				var onMessage = function(m) {
					var msgs = JSON.parse(m.data);
					log('goog.appengine.Channel: onMessage', msgs);
					for(var i in msgs){
						var msg = msgs[i];
						//config.updater.process(msg);
						$('#channel_messages').append(msg.text + '<br />');
					}
				}

				var onError = function() {
					log("goog.appengine.Channel: onError.");
				}

				var onClose = function() {
					log("goog.appengine.Channel: onClose. TBD! Reconnect?");
					//connected = false;
				}
				//if(window.location.hostname == 'localhost'){
				//	goog.appengine.Socket.POLLING_TIMEOUT_MS = 30000;
				//}

				var channel = new goog.appengine.Channel(token);
				var socket = channel.open();
				socket.onopen = onOpened;
				socket.onmessage = onMessage;
				socket.onerror = onError;
				socket.onclose = onClose;
			}
		});

		$('#btn_get_secure_list').click(function(){
			$.getJSON('/api/system/secure_list', function (data) {
				log('Secure list:', data);
				var div=$('#list_secure_list');
				div.empty();
				for(var i in data.info.systems){
					var sys = data.info.systems[i];
					div.append('<div>' + sys.imei + '</div>');
				}
			});
		});
	});
  </script>
  <style>
  </style>
</head>

<body>
Hello, from MainPage template on {{ server_name }}.<br />
Login: <a href="{{ login_url }}">{{ user.nickname() }}</a><br />
Logout: <a href="{{ logout_url }}">{{ user.nickname() }}</a><br />
--AKey: {{ akey }}<br />
Account: {{ account.key() }}<br />
Session: {{ session['run_counter'] }}<br />
User: {{ user }}<br />
UserID: {{ user.user_id() }}<br />
NickName: {{ user.nickname() }}<br />
Сообщения: <div id="channel_messages" style="color: green;"></div>

Список систем:

Отладочные функции:
<div>
	<button id="btn_get_secure_list">Секретный список</button><div id="list_secure_list"></div>
</div>
</body>
</html>
