#config_sys_list { list-style-type: none; margin: 0; padding: 0; }
#config_sys_list li {height: 26px; }
#config_sys_list li span { padding: 0; margin: 2px 0px 0px 0px;}
#config_sys_list li span.mm { display: inline-block; width: 16px; height: 16px;}
button.mm { padding-left: 5px; padding-right: 5px;}

#config_sys_list button.bdel {
	position: absolute;
	right: 10px;
}

#config_sys_list li span.spanbrd {
	border: 1px solid #ccc;
	padding: 0px 6px 0px 6px;
	margin-right: 4px;
	cursor: pointer;
	font-weight: normal;
	display: inline-block;
	min-width: 110px;
	text-align: center;
}

#config_sys_list li span:nth-child(3) {
	margin-left: 24px;
}

#config_sys_list li div.spanicon {
	display: inline-block;
	height: 24px;
	position: absolute;
	cursor: pointer;
}

#config_sys_list li div.spanicon:hover {
	background-color: #ccf;
}


.ui-accordion .ui-accordion-content {
	padding: 2px 2px 2px 2px;
}

#config_icon div.spritecolor-red {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
}

#config_icon div.spritecolor-red:hover {
	background-color: #ccf;
	border: 1px solid black;
}


/*
#config_sys_list { list-style-type: none; margin: 0; padding: 0; }
#config_sys_list li { margin: 0 3px 3px 3px; padding: 0.1em; padding-left: 4.5em; }
#config_sys_list li button { display: inline; }
#config_sys_list li button span {padding: 0; }
*/

/*#config_sys_list li span {  }*/
/*
#config_sys_list li span.mm { position: absolute; margin-top: 1px; margin-left: -4.5em; text-align: center;}
#config_sys_list li span.bico { margin-left: -3.3em; }
#config_sys_list li span.bconf { margin-left: -1.9em; }
#config_sys_list li span.hl {width: 16px; height: 16px; }
#config_sys_list li span.hl:hover {
	-webkit-box-shadow:0px 0px 3px #404040;
	-moz-box-shadow:0px 0px 3px #404040;
}
*/

/*

#config_sys_list button.bdel {
	position: absolute;
	right: 40px;
}

#config_sys_list2 li{
	border: 1px solid black;
	width: content;
}

#config_sys_list li {
	border: 1px solid #666666;
	background: #E6E6E6;
	font-weight: normal;
}

#config_sys_list .ui-button-text-only .ui-button-text {
	padding: 0;
}

*/

div#config_params td.cfg_changeble {
	cursor: pointer;
}

div#config_params td.wait {
	color: red;
}


div#config_params td.cfg_changeble:hover {
	background-color: #fec;
}

div#config_params {
	/*max-height: 80%;*/
}

div#config_params_body {
	/*max-height: 400px;*/
	overflow: auto;
}

/*
div#config_params {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	width: initial;
	background-color: #fff;
	border: 1px solid black;
}

div#config_params_body {
	position: absolute;
	top: 16px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
*/

div.cfg_iframe {
	cursor: pointer;
	border: 1px solid black;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.config_hide {
	display: none;
}

.cursor_pointer {
	cursor: pointer;
}

span.tags {
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-left: 2px !important;
	background-color: antiqueWhite;
	box-shadow: 1px 1px 2px #444;
	font-size: 80%;
}

span.description {
	display: inline-block;
	width:200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

span.description:hover {
	color: blue;
}

span.description:focus {
	color: blue;
	width: auto;
}

/*
span[contenteditable] {
	cursor: pointer;
	padding: 0 8px 5px 8px;
	text-decoration: none;
	border: 2px dashed transparent;
	color: #666666;
	font-size: 125%;
	border-bottom: 2px dotted #ccc;
}

span[contenteditable]:hover,
span[contenteditable]:focus {
	outline: none;
	border: 2px dashed #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
}
*/
