div#geos_head {
	position: absolute;
	top: 0px;
	height: 30px;
	overflow: hidden;
	width: 100%;
}

div#geos_body {
	position: absolute;
	top: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}
