#config_sys_list { list-style-type: none; margin: 0; padding: 0; }
#config_sys_list li span { padding: 0; margin: 0;}
#config_sys_list li span.mm { display: inline-block; width: 16px; height: 16px;}

#config_sys_list button.bdel {
	position: absolute;
	right: 10px;
}

.ui-accordion .ui-accordion-content {
	padding: 2px 2px 2px 2px;
}


/*
#config_sys_list { list-style-type: none; margin: 0; padding: 0; }
#config_sys_list li { margin: 0 3px 3px 3px; padding: 0.1em; padding-left: 4.5em; }
#config_sys_list li button { display: inline; }
#config_sys_list li button span {padding: 0; }
*/

/*#config_sys_list li span {  }*/
/*
#config_sys_list li span.mm { position: absolute; margin-top: 1px; margin-left: -4.5em; text-align: center;}
#config_sys_list li span.bico { margin-left: -3.3em; }
#config_sys_list li span.bconf { margin-left: -1.9em; }
#config_sys_list li span.hl {width: 16px; height: 16px; }
#config_sys_list li span.hl:hover {
	-webkit-box-shadow:0px 0px 3px #404040;
	-moz-box-shadow:0px 0px 3px #404040;
}
*/

/*

#config_sys_list button.bdel {
	position: absolute;
	right: 40px;
}

#config_sys_list2 li{
	border: 1px solid black;
	width: content;
}

#config_sys_list li {
	border: 1px solid #666666;
	background: #E6E6E6;
	font-weight: normal;
}

#config_sys_list .ui-button-text-only .ui-button-text {
	padding: 0;
}

*/

div#config_params td.cfg_changeble {
	cursor: pointer;
}

div#config_params td.wait {
	color: red;
}


div#config_params td.cfg_changeble:hover {
	background-color: #fec;
}

div#config_params {
	/*max-height: 80%;*/
}

div#config_params_body {
	/*max-height: 400px;*/
	overflow: auto;
}

/*
div#config_params {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	width: initial;
	background-color: #fff;
	border: 1px solid black;
}

div#config_params_body {
	position: absolute;
	top: 16px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
*/

div.cfg_iframe {
	cursor: pointer;
	border: 1px solid black;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.config_hide {
	display: none;
}

.cursor_pointer {
	cursor: pointer;
}
