div#map {
	/*width: 100%;
	height: 100%;*/
	/*cursor: pointer;*/
	position: absolute;
	left: 0px;
	right: 220px;
	top: 0px;
	bottom: 0px;
	background-color: grey;
	-webkit-transition: all 0.5s ease-out;
}

div#panel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 220px;
	/*height: 80%;
	max-height: 80%;*/
	/*overflow-x: hidden;
	overflow-y: hidden;*/
	overflow: visible;
	/*background-color: grey;*/
	-webkit-transition: all 0.5s ease-out;
}

div#map.stat-hided {
	right: 0px;
}

div#panel.stat-hided {
	right: -220px;
}

div.panel_control {
	position: absolute;
	top: 2px;
	right: 100%;
	width: 16px;
	height: 16px;
	/*border: 1px solid black; */

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}
div.panel_control:hover {
	-webkit-box-shadow: 0px 0px 5px #404040;
	-moz-box-shadow: 0px 0px 5px #404040;
}

div#carselect {
	position: absolute;
	top: 24px;
	bottom: 204px;
	left:0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

div#carselect ul li span {
	float: left;
}

div#maptools {
	position: absolute;
	width:100%;
	bottom: 180px;
	height: 24px;
}

div#zone_panel {
	position: absolute;
	top: 0px;
	bottom: 204px;
	left:0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	/*border: 1px solid lime;*/
	background-color: white;
	display: none;
}

div#dir_panel {
	position: absolute;
	top: 0px;
	bottom: 204px;
	left:0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	/*border: 1px solid lime;*/
	background-color: white;
	display: none;
}



ul#map_zones_list li {
	border: 1px solid black;
	cursor: pointer;
}

ul#map_zones_list li.highlight, ul#map_zones_list li:hover {
	background-color: lime;
}


div#groupselect {
	position: absolute;
	width:100%;
	top: 0px;
	height: 24px;
}

div#date_tabs {
	float: bottom;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 180px;
}

div#map_div_cleartrack {
	position: absolute;
	bottom: 160px;
	right: 3px;
	z-index: 200;
}
	div#map_div_cleartrack button {
		padding:0;
		margin:0;
		font-size:75%;
	}
		div#map_div_cleartrack button span {
			padding:2px 4px 2px 4px;
			margin:0;
		}

div#controls {
	position: absolute;
	/*top: -10px;*/
	top: -5px;
	left: 100px;
	background-color: white;
	padding: 10px 4px 4px 4px;
	opacity: 0.3;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-box-shadow: 1px 1px 3px #404040;
	-moz-box-shadow: 1px 1px 3px #404040;
	-webkit-transition: all 0.2s ease-out;
}

div#controls:hover {
	/*top: 0px;*/
	opacity: 1.0;
}


div.mymarker {
	position: absolute;
	width: 16px;
	height: 16px;
	/*border: 1px solid #F08000;*/
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/

	/*background-image: url(/images/marker-select.png);*/
	/*-webkit-transition: all 0.1s ease-out;*/
}

div.mymarker-arrow {
	position: absolute;
	width: 16px;
	height: 16px;
	/*border: 1px solid #F08000;*/
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/

	background-image: url(/svg/arrow.svg);
	/*-webkit-transition: all 0.1s ease-out;*/
	/*z-index: -100;*/
}

div.info-header {
	background-color: #F0E8F8;
	font-weight: bold;
	text-align: center;
}

/*
table, td, th {
	border: 2px solid black;
	border-collapse: collapse;
}
*/

#daylist a {
	text-decoration: none;
	/*font-size: 90%;*/
}

#daylist a:hover {
	background-color: #88f;
}


div.list_months {
	width: 89%;
}

div.list_months div {
/*div.list_months div a:hover {*/
	text-decoration: none;
	font-size: 90%;
}


/*
h3 a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
*/


.ui-accordion-content {
	padding: 2px 2px 2px 16px !important;
}

/*
.ui-button-text {
	padding-top: 0.1em !important;
	padding-bottom: 0.1em !important;
}
*/
ul#map_ul_sys {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul#map_ul_sys li {
	cursor: pointer;
	/*width: 100%;*/
	padding: 2px 2px 2px 2px;
	/*opacity: 0.8;*/
	/*font-weight: bold;*/
}

ul#map_ul_sys li:hover {
	/*background-color: #88f;*/
	/*opacity: 1;*/
	color: blue;
	border: 1px solid blue;
}

#panel .ui-datepicker {
	/*padding: 0px 0px 0px 0px;*/
	width: 98%;
}

.ui-datepicker th {
	padding-top: 0px;
	padding-bottom: 0px;
}

.ui-datepicker th, .ui-datepicker td {
	padding-left: 0px;
	padding-right: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
	padding: 0px 0px 0px 0px;
	/*padding-right: 0px;*/
}

/*
table.ui-datepicker-calendar {
	padding: 0px 0px 0px 0px;
}*/

/*
.ui-tabs .ui-tabs-panel {
	padding: 0px 0px 0px 0px;
}

.ui-tabs .ui-tabs-nav li a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 20px;
}

table.int_select td, table.int_select tr {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
*/


div.lastmarker {
	position: absolute;
	width: 16px;
	height: 16px;

	/*border: 1px solid black;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;

	-webkit-box-shadow: 2px 2px 6px #606060;
	-moz-box-shadow: 2px 2px 6px #606060;
	*/

	padding: 0px 0px 0px 0px;
	/*background-color: #fff;*/

	background-image: url(/images/car-default.png);

}

div.lastmarker div.lastmarker-title {
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;

	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

	text-align: center;
	/*vertical-align: middle;*/
	/*font-weight: bold;*/
	padding-top: 0px;
	z-index: 10000;
}

div.lastmarker div.lastmarker-title p {
	margin-top: -2px;
}

div.lastmarker:hover, div.lastup {
	border-color: #fff;
	z-index: 102;
	/*-webkit-box-shadow: 4px 4px 6px #606060;
	-moz-box-shadow: 4px 4px 6px #606060;*/
/*	width: 18px;
	height: 18px;
	margin-left: -1px;
	margin-top: -1px;*/
	z-index: 10001;
}

div.lastmarker:hover div.lastmarker-label {
	/*box-shadow: 0px 0px 30px #0f0;*/
	box-shadow: 2px 2px 6px #000;
	/*-webkit-box-shadow: 0px 0px 30px #0f0;
	-moz-box-shadow: 0px 0px 30px #0f0;*/
	min-width: 170px;
	height: auto !important;
	min-height: 100px;
	z-index: 10001;
}

div.lastup div.lastmarker-label {
	box-shadow: 0px 0px 30px #0f0;
}

div.lastmarker-label {
	position: absolute;
	border: 1px solid black;
	left: 8px;
	bottom: 16px;
	background-color: #fcf;
	white-space: nowrap;
	padding: 0px 5px 0px 5px;
	border-top-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	-webkit-transition: all 0.2s linear;
	height: 18px;
	min-height: 18px;
	overflow: hidden;
	opacity: 0.85;
	z-index: 10000;
}

div.lastmarker-control {
	/*width: 100%;*/
	background-color: #fff;
	white-space: normal;
	border-top: 1px solid black;
	display: none;
	margin-left: -5px;
	margin-right: -5px;
	border-bottom-right-radius: 8px 8px;
}

div.lastmarker-control tr {
	background: none;
}

div.lastmarker:hover div.lastmarker-control {
	display: block;
}

div#date_select {
	overflow: hidden;
	padding-right: 8px;
}


div#alert_container {
	position: absolute;
	z-index: 1001;
	bottom: 2px;
	left: 160px;
	right: 1px;
	height: 20px;
	overflow: auto;
	padding: 2px 2px 2px 2px;
}

div#alert_container span {
	display: inline-block;
	width: 20px;
	/*height: 20px;*/
	border: 2px solid red;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
	box-shadow: 1px 1px 4px #000000;
	background: bisque;
	font-weight: bold;
	margin-left: 2px;
	cursor: pointer;
}

div#alert_container span:hover {
	border: 2px solid black;
	/*padding-top: 100px;*/
}

div#alarm_popup {
	position: absolute;
	bottom: 32px;
	/*width: 256px;*/
	/*height: 100px;*/
	border: 2px solid black;
	border-radius: 4px;
	box-shadow: 1px 1px 4px #000000;
	background-color: bisque;
	opacity: 0.8;
	padding: 4px 4px 4px 4px;
	z-index:1002;
}
