div#map_preview {
	position: absolute;
	left: 10%;
	top: 10%;
	right: 10%;
	bottom: 10%;
	/*background-color: #ccf;*/
	text-align: center;
	border: 2px solid black;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	-webkit-box-shadow: 1px 1px 6px #606060;
	-moz-box-shadow: 1px 1px 6px #606060;
	/*-webkit-transition: all 0.2s ease-out;*/

}

div#rmap {
	/*width: 100%;
	height: 100%;*/
	/*cursor: pointer;*/
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	/*background-color: green;*/
}

.ctl .ui-button-text {
	padding: 0px 0px 0px 0px !important;
}

.ctl{
	margin: 0px 1px 0px 0px;
}


#report_dlg_byint .ui-datepicker, #report_dlg_byday .ui-datepicker {
	width: auto;
}
